@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 11px;
}
.menubar{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1c2632;
}
.top-menubar{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 8px auto 0 auto;
}
#logo {
    width: 50px;
}
.top-nav-menu {
    display: flex;
    margin-top: auto;
}
nav {
    float: left;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav ul li {
    list-style: none;
    padding: 8px;
    margin: auto 0;
    display: flex;
    justify-items: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
nav ul li i {
    color: white;
}
a:hover {
    color: #FF9900;
}
#create-acc-btn {
    padding: 6px;
    margin: auto 0 auto 3px;
    background-color: #bd5b14;
    border: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 15px;
}
#create-acc-btn:hover {
    background-color: #893101;
}
/* -----end of top bar menu----- */
/* -----start of bottom bar menu----- */
.bottom-menubar {
    width: 95%;
    margin: auto;
}
/* -----end of bottom bar menu----- */
/* ---start of lowest menubar-- */
.lowest-menubar {
    background-color: #e5eaef;
    width: 100%;
    height: 30px;
}
.lowest-menubar-content {
    width: 75%;
    display: flex;
    margin: auto;
    align-items: center;
    color: #404141;
}
.lowest-menubar-content ul {
    display: flex;
    margin: auto;
}
.lowest-menubar-content ul li {
    list-style: none;
    padding: 4px 8px;
    justify-content: center;
}
.lowest-menubar-content ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #404141;

}
.lowest-menubar-content ul li a:hover {
    color: #55a2ec;
}
#active {
    color: #55a2ec;
    text-decoration: underline 2px;
    text-underline-offset: 6px;
}
/* --end of lowest menubar-- */
/* ---start of title container--- */
.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}
.breadcrums {
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
}
.breadcrums p span {
    color: #55a2ec;
}
.page-title {
    width: 80%;
    margin: 0 auto;
}
.page-title h1 {
    font-size: 30px;
    padding-bottom: 18px;
    color: #333;
}
/* ---end of title container--- */





/* -- start of main-FOOTER-container -- */
footer {
    width: 100%;
    background-color: #1c2632;
}
.main-footer-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer-container {
    padding: 16px 10px 16px 0;
}
.footer-container h2 {
    padding: 10px 10px 10px 0;
    font-size: 17px;
    font-weight: 500;
}
.lang {
    width: 80%;
    display: flex;
    margin: auto;
}
.rights {
    width: 100%;
    background-color: white;
    height: 20px;
    display: flex;
}
.rights p{
    width: 80%;
    display: flex;
    
    align-items: center;
}
/* -- end of main-footer-container -- */